include requirements.txt
include ChangeLog
include configure.py
include Makefile.in
include aksetup_helper.py
include README.rst

recursive-include doc *
prune doc/_build

include examples/*.py
include examples/README

recursive-include external/boost-python-ublas-subset/boost_subset/boost *.h *.hpp *.inl *.ipp *.pl *.txt
recursive-include external/boost-python-ublas-subset/boost_subset/libs *.h *.hpp *.cpp *.html *.inl *.ipp *.pl *.txt
exclude external/boost-python-ublas-subset/boost_subset/pyviennaclboost

recursive-include external/boost_numpy/boost *.h *.hpp *.inl *.ipp *.pl *.txt
recursive-include external/boost_numpy/libs *.h *.hpp *.cpp *.html *.inl *.ipp *.pl *.txt

recursive-include external/viennacl-dev/CL *.h *.hpp
recursive-include external/viennacl-dev/viennacl *.h *.hpp

include pyviennacl/*.py

include src/_viennacl/*.h
include src/_viennacl/*.hpp
include src/_viennacl/*.cpp
include tests/*.py
