#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
#export PYBUILD_NAME=pyviennacl # -- seems to cause install confusion
export PYBUILD_SYSTEM=cmake
export PYBUILD_DISABLE=test

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_test:
	PYBUILD_SYSTEM=custom \
	PYBUILD_TEST_ARGS="set -x; cd {build_dir}; cmake -DPYTHONPATH={build_dir}/pyviennacl/build/lib.linux-`uname -p`-{version} {dir}; ctest -VV" \
		dh_auto_test
